@import url('https://fonts.cdnfonts.com/css/calculator');
.container{
    font-family: 'Calculator', sans-serif;
    background: linear-gradient(to bottom right, rgba(182, 173, 149, 0.979) 0%, rgb(187, 143, 47) 35%, rgb(180, 178, 39) 100%);

    width: 460px;
    height: 550px;
    display:grid;
    margin: 50px auto;
    box-shadow: 10px 5px 55px rgb(123, 130, 133);
    border-radius: 8px;
}

.num-list {
    display: grid;
    grid-template-columns: repeat(4 , 6fr );
    margin: 2px 20px;
}

.screen-result{
    background-color: azure;
    margin: 20px auto;
    width: 350px;
    height: 80px;
    border: solid 2px black;

    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-radius: 7px;

    overflow-x: auto; 
    overflow-y: hidden; 
}

.num {

    font-size: 30px;
    font-weight:bolder;
    width: 60px;
    height: 40px;
    margin: 5px auto;
    padding: 6px 4px;
    border: solid rgb(72, 73, 23) 2px;
    text-align: center;
    border-radius: 9px;
    background: linear-gradient(to bottom right, rgba(215, 207, 247, 0.979) 0%, rgb(144, 151, 182) 35%, rgb(212, 223, 233) 100%);
    cursor: pointer;
    box-shadow: 10px 5px 5px rgb(123, 130, 133);
}

.num:hover, .num:active{
    background: linear-gradient(to bottom right, rgba(247, 234, 207, 0.979) 0%, rgb(182, 173, 144) 35%, rgb(225, 212, 233) 100%);
}

 .num:active{
    background: linear-gradient(to bottom right, rgba(247, 207, 229, 0.979) 0%, rgb(182, 144, 144) 35%, rgb(233, 212, 216) 100%);
}

#reset {
    background: rgb(226, 12, 12);
}

#reset:hover {
    background: rgb(184, 39, 39);
}

#equal {
    background: rgb(48, 65, 223);
}

#equal:hover {
    background: rgb(38, 47, 134);
}
